html,
body {
  margin: 0; /* Remove the default margin */
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
 
.homepage-center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;

  div {
    text-align: center;
  }

  .homepage-logo {
    max-width: 100%;
    z-index: 3;
    position: absolute;
    top: 5%; /* Adjust the percentage value to move the image towards the upper middle */
    left: 50%;
    transform: translateX(-50%);
  }

  .home-page-btn {
    z-index: 4;
    position: absolute;
    top: 60%; /* Adjust the percentage value to position the button in the bottom half */
  }

  /* Styles for the button */
.btn-style701 {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s ease;

  /* Add responsive styles */
  @media screen and (max-width: 768px) {
    padding: 8px 16px;
    font-size: 14px;
  }

  /* Add hover effect */
  &:hover {
    background-color: #1c89b7;
  }
}
  


}

/* Media Query for screens bigger than 13-inch laptops and larger screens */
@media screen and (min-width: 880px) {
  /* Add styles here for larger screens */

  .homepage-center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
  
    div {
      text-align: center;
    }
  
    .homepage-logo {
      max-width: 100%;
      z-index: 3;
      position: absolute;
      top: 5%; /* Adjust the percentage value to move the image towards the upper middle */
      left: 50%;
      transform: translateX(-50%);
      margin-top: -150px;
      max-height: 600px; // rember i have some big image lol!!
    }
  
    .home-page-btn {
      z-index: 4;
      position: absolute;
      top: 60%; /* Adjust the percentage value to position the button in the bottom half */
      margin-bottom: -440px;
    }
  
  
  }

  /* You can adjust other styles as per your requirement for larger screens */
}



///////////////////////////// LIST PAGE ///////////////////////////
/// 
.list-container {
  width: 95%;
  margin: auto;
  display: flex;
}

.notebook{
  width: 600px;
  min-height: 100vh;
  padding-top: 20px;
  margin:auto;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.50); 
  margin-top: 20px;
}